.container{
    margin: auto;
    width: 50vw;
    height: 100vh;
}



.item{
    display: none;
    position: relative;
}

.active{
    display: block;
}

.item img{
    width: 100%;
    
    object-fit: cover;
}

.next,.prev{
    
    position: absolute;
    top: 350px;
    font-size: 50px;
    padding: 5px;
    color: white;
    border-radius: 500px;
    background-color: black;

}

.next{
    right: 280px;
}

.prev{
    left: 280px;
}

.next:hover,.prev:hover{
    background-color: white;
    color: black;
}

